@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Staatliches', cursive;
    background-color: rgb(15, 4, 32);
}
.target {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-block;
    margin: 2% 4% 3% 4%;
    background-color: black;
}
#container {
    width: 100%;
    height: 70vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
#game-window {
    background-color: black;
    width: 100%;
    height: 90%;
    cursor: crosshair;
}
#controls {
    background-color: rgb(15, 4, 32);
    width: 100%;
    height: 10%;
    text-align: center;
}
#game-area {
    width: 80%;
    height: 70vh;
}
.button {
    display: block;
    width: 30%;
    height: 100%;
    font-size: 30px;
    color: #FFF;
    background-color: rgb(15, 4, 32);
    border: none;
    font-family: 'Staatliches', cursive;
    float: left; 
}
#start {
    float: left;
}
#stop {
    float: right;
}
p {
    font-size: 130%;
    font-weight: 800;
    text-transform: capitalize;
    color: #FFF;
}
header {
    background-color: rgb(7, 1, 12);
    height: 10vh;
    text-align: center;
}
#controls-text {
    display: inline-block;
}
h1 {
    color:#FFF;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
}

