@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Staatliches', cursive;
    background-color: rgb(15, 4, 32);
    height: 100vh;
}
h1 {
    color:#FFF;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
}
header {
    background-color: rgb(7, 1, 12);
    height: 10%;
    text-align: center;
}
footer {
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #FFF;
}
a {
    font-size: 360%;
    display: inline-block;
    width: 33%;
}
p {
    font-size: 130%;
    font-weight: 800;
    text-transform: capitalize;
    color: #FFF;
}
.box-text {
    display: inline-block;
}
.button {
    display: block;
    width: 30%;
    height: 100%;
    font-size: 170%;
    color: #FFF;
    background-color: rgb(15, 4, 32);
    border: none;
    font-family: 'Staatliches', cursive;
    float: left; 
}
.target {
    width: 3%;
    height: 6.2%;
    border-radius: 50%;
    display: inline-block;
    margin: 2% 4% 3% 4%;
    background-color: black;
}
.active {
    width: 3%;
    height: 6.2%;
    border-radius: 50%;
    display: inline-block;
    margin: 2% 4% 3% 4%;
    background-color: crimson;
}
.dark {
    color: black;
    display: inline-block;
    width: 33%;
}
#text-box-below {
    text-align: center;
}
#container {
    width: 100%;
    height: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
}
#game-window {
    background-color: black;
    width: 100%;
    height: 90%;
    cursor: crosshair;
}
#controls {
    background-color: rgb(15, 4, 32);
    width: 100%;
    height: 10%;
    text-align: center;
}
#game-area {
    width: 90%;
    height: 100%;
}
#start {
    float: left;
}
#stop {
    float: right;
}
#controls-text {
    display: inline-block;
}

@media screen and (max-width: 992px){
    #container {
        height: 40%;
    }
    .button {
        font-size: 150%;
    }
}
